@model MVCDemo.Models.UserInfo
@Html.ValidationMessage("CredentitalError", new { style="color:red;"})
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section TitleSection{
    Login
}
@section HeaderSection{
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
}
@section ContentBody{
    <div class="container">
        @ViewBag.LoginState<br />
        @Html.ValidationMessage("CredentitalError", new { style = "color:red;" })
    </div>
    <body class="b">
      <div class="lg">
        <form action="/Account/Login" method="post" class="form-horizontal">
            <div class="lg_top"></div>
            <div class="lg_main">
                <div class="lg_m_1">

                    <input id="UserName"  name="UserName" value="username" class="ur" />
                    <input id="UserPwd" name="UserPwd" type="password" value="password" class="pw" />

                </div>
            </div>
            <div class="lg_foot">
                <input type="submit" value="Login In" class="bn" />
            </div>
        </form>
      </div>
    </body>
}

